.project
.classpath
build/
target/
.settings/
bin/
.gradle
.metadata
*~
.recommenders

.idea
*.iml
*.class
*.lst

*.versionsBackup


*.log
*.ctxt
.mtj.tmp/
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
hs_err_pid*

